// FOR EXAMPLE

$blue: #155ccf
$cd-blue: #003383
$darkblue: #051836    

$red : #d9000d
$darkred: #881a1b

$white: #fff
$lightbg: #F5F6F6
$border: #EBECEF

$text: #474D4A
$darkbg: #455060
$headergray: #253240



$regular: urw-din, URW DIN,  sans-serif
// Font Weights: 400, 700
$condensed: urw-din-condensed, URW DIN Cond, sans-serif
// Font Weights: 400, 600, 900

$path: 'benutzerdaten/400250/uploads_layout_2021'


@import url("https://use.typekit.net/eoj2xya.css")