// COLORS

$red: #85234E
$lightred: #A9134A
$lightredR:169
$lightredG:19
$lightredB:74
$blue: #246073
$green: #5E6643
$lightblue: #7895B4
$darkblue: #264D5F
$grey: #687A87
$lightgrey: #C8D1D8
$borders: #EFEFEF
$lightbg: #EDF1F3


$textColor: $grey
    



// Font Weights: 400, 900
$font: 'Mulish', sans-serif
$normal: 400
$black: 900

$pageWidth: 1240px 

$path: '/benutzerdaten/460084/shop/layout/uploads2022/'

// header
$borderWidth: 7px

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap')