@import './var', './template'
@import './header/main'
@import './footer/main'
@import './login/main'
@import './category/main'
// UTILS
@import './utils/buttons', './utils/prices'
// Add other Stylesheets like this: ,'./buttons', './slider'

// Run "npm run dev" to start
// Open Dev Sources in Chrome - Page Sources -> Overrides -> Enable, write something into it
// Ready to go ;)

*
    font-family: $font
    
body 
    background: white
    color: $textColor
    overflow-x: hidden