button.submit, .submit
    background: $grey
    border-radius: 30px
    color: #fff
    border: 3px solid $grey
    font-family: $font
    transition: ease all 400ms
    &:hover
        background: transparent
        color: $textColor
    &.submit_green
        background: $lightred
        border-color: $lightred
        color: #ffffff
        &:hover
            background: transparent
            color: $lightred


input[type="submit"], input[type="button"], button, .button, .submit
    font-family: $font


#login
    button.submit, .submit.submit_green, button.submit.submit_green, input[type="submit"], input[type="button"], button, .button, .submit
        border-radius: 40px
        border: 3px solid $lightgrey
        background: $lightgrey
        &:hover
            background: transparent
    button.submit, .submit.submit_green, button.submit.submit_green
        border-color: $lightred
        background: $lightred
        