button.submit, .submit
    background: $grey
    border-radius: 30px
    color: #fff
    border: 3px solid $grey
    font-family: $font
    transition: ease all 400ms
    &:hover
        background: transparent
        color: $textColor
    &.submit_green
        background: $lightred
        border-color: $lightred
        color: #ffffff
        &:hover
            background: transparent
            color: $lightred



