.artdetail_shopping#art_desc
    table
        background: #fff
        .mobile_h1.main_caption
            border-bottom: 4px solid $lightbg
            center
                text-align: left
                color: $darkblue
    .showMoreToggle
        background: $grey
        color: #fff

// .mobile_artdetail_div
//     background: $lightbg
//     padding-left: 25px
//     min-height: 400px

#template_center_column > div
    > h1.main_caption.mobile_artdetail_toggle.dark_caption
        margin-top: 40px
        display: block


// Table
// #acb8be

.artdetail_shopping#art_desc.artdetail_info8
    table
        background: transparent 
        tr td
            border-color: #acb8be
        

.tabCtrl
    #tabCtrlTabs
        margin-bottom: 0
        li.current
            a
                border-bottom-color: $lightred
                color: $lightred

#page_info .user_content
    background: $lightbg
    padding: 20px
    min-height: 200px

.artdetail_info8
    background: $lightbg
    margin-bottom: 25px

    .showMoreToggle
        margin-bottom: 0

    

.artdetail_asp
    width: 100%
    background: $lightbg
    a
        color: $lightred
    .main_caption
        padding-left: 0
        center
            text-align: left


@media screen and (max-width: 700px)
    .artdetail_shopping
        padding: 0
    .mobile_artdetail_div
        padding: 15px
    .artdetail_shopping.mobile_artdetail.artdetail_info8
        padding-bottom: 0
    div.showMoreToggle
        margin-bottom: 15px
